.about {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 15vh;
    padding-bottom: 15vh;
}

.Skills {
	flex-direction: column;
	flex-wrap: nowrap;
}

.profile_portrait {
	float: left;
	width: 250px;
	margin: 0 10px;
	border-radius: 50%;
}

